# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: format-java
        name: format code
        language: system
        always_run: true
        pass_filenames: false
        entry: ./gradlew spotlessApply
      - id: java-build
        name: run tests
        language: system
        always_run: true
        pass_filenames: false
        entry: ./gradlew buildBundle
