name: Test Connector
on:
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ "11", "17", "21" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: ${{ matrix.java-version }}
      - name: Unit Tests
        run: ./gradlew connector:test
      - name: E2E Tests
        run: ./gradlew connector:e2e
      - name: Build Bundle
        run: ./gradlew connector:buildConfluentBundle
